@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

::-webkit-calendar-picker-indicator {
  mask-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24' %3E%3Cg%3E%3Cpath d='M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-image: none;
  background-color: currentColor;
  mask-type: match-source; 
}

@theme {
  /* ====================== */
  /* =====BRAND COLORS===== */
  /* ====================== */
  --color-br-text: #fff7f1;
  --color-br-background: #121212;
  --color-brand: #caa286;
  --color-br-secondary: #202020;
  --color-br-accent: #712222;

  --color-br-text-50: #fff1e5;
  --color-br-text-100: #ffe2cc;
  --color-br-text-200: #ffc599;
  --color-br-text-300: #ffa866;
  --color-br-text-400: #ff8b33;
  --color-br-text-500: #ff6e00;
  --color-br-text-600: #cc5800;
  --color-br-text-700: #994200;
  --color-br-text-800: #662c00;
  --color-br-text-900: #331600;
  --color-br-text-950: #1a0b00;

  --color-br-background-50: #f2f2f2;
  --color-br-background-100: #e6e6e6;
  --color-br-background-200: #cccccc;
  --color-br-background-300: #b3b3b3;
  --color-br-background-400: #999999;
  --color-br-background-500: #808080;
  --color-br-background-600: #666666;
  --color-br-background-700: #4d4d4d;
  --color-br-background-800: #333333;
  --color-br-background-900: #1a1a1a;
  --color-br-background-950: #0d0d0d;

  --color-brand-50: #f7f1ed;
  --color-brand-100: #efe4dc;
  --color-brand-200: #e0c9b8;
  --color-brand-300: #d0ae95;
  --color-brand-400: #c19271;
  --color-brand-500: #b1774e;
  --color-brand-600: #8e5f3e;
  --color-brand-700: #6a482f;
  --color-brand-800: #47301f;
  --color-brand-900: #231810;
  --color-brand-950: #120c08;

  --color-br-secondary-50: #f2f2f2;
  --color-br-secondary-100: #e6e6e6;
  --color-br-secondary-200: #cccccc;
  --color-br-secondary-300: #b3b3b3;
  --color-br-secondary-400: #999999;
  --color-br-secondary-500: #808080;
  --color-br-secondary-600: #666666;
  --color-br-secondary-700: #4d4d4d;
  --color-br-secondary-800: #333333;
  --color-br-secondary-900: #1a1a1a;
  --color-br-secondary-950: #0d0d0d;

  --color-br-accent-50: #f9ebeb;
  --color-br-accent-100: #f3d8d8;
  --color-br-accent-200: #e8b0b0;
  --color-br-accent-300: #dc8989;
  --color-br-accent-400: #d06262;
  --color-br-accent-500: #c43b3b;
  --color-br-accent-600: #9d2f2f;
  --color-br-accent-700: #762323;
  --color-br-accent-800: #4f1717;
  --color-br-accent-900: #270c0c;
  --color-br-accent-950: #140606;

  /* ===================== */
  /* =====BRAND FONTS===== */
  /* ===================== */
  --font-accent: "Limelight", sans-serif;
  --font-title: "Barlow Condensed", sans-serif;
  --font-default: "Montserrat", sans-serif;

  /* ===================== */
  /* =====BREAKPOINTS===== */
  /* ===================== */
  --breakpoint-mobile: 24.5rem;
  --breakpoint-tablet:48rem;
  --breakpoint-desktop: 90rem;
}

body {
  @apply bg-br-background text-br-text font-default;
}

/* ===================== */
/* =======BUTTONS======= */
/* ===================== */

/* icon */
.icon-sm {
  @apply size-10 rounded-full inline-flex items-center justify-center p-2.5
}

.icon-md { 
  @apply size-11 rounded-full inline-flex items-center justify-center p-3
}

.icon-lg {
  @apply size-13 rounded-full inline-flex items-center justify-center p-3.75
} 

.icon-xl {
  @apply size-14 rounded-full inline-flex items-center justify-center p-3.75
}

.icon-2xl {
  @apply size-16 rounded-full inline-flex items-center justify-center p-4
}

/* Regular buttons */
.btn-xs {
  @apply text-sm px-4 h-10 rounded-lg inline-flex items-center justify-center
}
.btn-sm {
  @apply text-sm px-[18px] py-2.5 rounded-lg inline-flex items-center justify-center
}

.btn-md {
  @apply text-sm px-5 py-3 rounded-lg inline-flex items-center justify-center
}

.btn-lg {
  @apply text-base px-[22px] py-3.5 rounded-lg inline-flex items-center justify-center
}

.btn-xl {
  @apply text-base px-6 py-4 rounded-lg inline-flex items-center justify-center
}

.btn-2xl {
  @apply text-lg px-[26px] py-[18px] rounded-lg inline-flex items-center justify-center
}

/* Button styles */
.btn-primary {
  @apply bg-brand text-br-background hover:bg-brand-200 focus:ring-3 focus:ring-br-text disabled:bg-brand/30 disabled:text-br-background/70
}

.btn-light-primary {
  @apply bg-brand-800 text-br-text hover:bg-brand-600 focus:ring-3 focus:ring-br-text disabled:bg-brand-800/30 disabled:text-brand
}

.btn-secondary {
  @apply bg-transparent border border-brand-200 text-brand-200 hover:bg-brand/30 focus:ring-3 focus:ring-br-text disabled:border-zinc-800 disabled:text-zinc-800
}

.btn-only {
  @apply text-brand-200 hover:bg-brand/20 focus:ring-3 focus:ring-brand-200 disabled:text-zinc-600
}

/* ===================== */
/* ======DAYPICKER====== */
/* ===================== */
.rdp-root {
  --rdp-accent-color: var(--color-brand);
  --rdp-today-color: var(--color-brand);
  --rdp-weekday-opacity: 30%;
}